.TransactionCell{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top: 25px;
    gap:20px;
}
.cell{
    display:flex;
    flex-direction: row;
}
.active{
       
   padding:5px 6px;
   font-size:15px;
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   border-radius: 8px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
    border:1px solid #e6e8e9;
   background-color: #e5e9e5;
    border-right: 5px solid red;
}
.default{
   padding:5px 6px;
   font-size:15px;
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   border-radius: 8px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
    border:1px solid #e6e8e9;
   background-color: #e5e9e5;
    border-right: 5px solid green;
}